html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: Roboto;
	src: url("./Roboto-Regular.ttf");
}

body {
	font-family: Roboto;
	background-color: #0a0a0a;
	color: #e6e6e6;
}

#square {
	text-align: center;
	height: 100%;
	line-height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	font-size: 1.5em;
	letter-spacing: 4px;
	width: 300px;
}

#title>span {
	opacity: 0;
}

.flexbox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

a {
	color: #1F8974;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

.links {
	text-align: right;
	letter-spacing: 2px;
	height: 0;
	overflow: visible;
	width: 100%;
}

.join-button a img {
	border-radius: 60px;
	transition: border-radius 500ms;
}

.join-button a:hover img {
	border-radius: 35px;
	transition: border-radius 500ms;
}

.join-button {
	margin: 40px;
	height: 100px;
}

#direct_invite_link {
	background-color: black;
	color: white;
	text-align: center;
	min-width: 0px;
	height: 30px;
	display: flex;
	font-size: 16px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#copy_button {
	opacity: 75%;
	display: flex;
	padding-left: 10px;
}

#copy_button:hover {
	opacity: 1;
	cursor: pointer;
}

#direct_invite_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	margin: 50px;
}
