.form-wrapper {
	display: flex;
	justify-content: center;
}

.form-fields-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.form-fields-wrapper>div {
	display: flex;
	margin: 8px;
}

.submit-wrapper {
	align-items: center;
	display: flex;
	margin: 10px;
}

.error-text {
	color: crimson;
}

p {
	margin: 50px;
}

label {
	width: 100px;
}

#content {
	visibility: hidden;
}
