#direct_invite_link {
	background-color: black;
	color: white;
	display: flex;
	font-size: 16px;
	height: 30px;
	text-align: center;
	width: 225px;
}

#copy_button {
	display: flex;
	opacity: 75%;
	padding-left: 10px;
}

#copy_button:hover {
	cursor: pointer;
	opacity: 1;
}

#direct_invite_container {
	align-items: center;
	display: flex;
	justify-content: center;
}

#bgcanvas {
	left: 0;
    position: fixed;
    top: 0;
    z-index: -100;
}

#discord_widget_container {
	display: flex;
	margin: 50px;
}

@media (max-width: 1550px) {
	.full-screen {
		flex-direction: column;
		height: 1500px;
		justify-content: flex-start;
		position: relative;
	}
}

.join-button a img {
	border-radius: 60px;
	transition: border-radius 500ms;
}

.join-button a:hover img {
	border-radius: 35px;
	transition: border-radius 500ms;
}

.join-button {
	height: 100px;
	margin: 40px;
}

.spacer {
	width: 400px;
}

.github {
	bottom: 0;
	left: 0;
	margin: 20px;
	position: fixed;
}

.github svg {
	height: 40px;
	width: 40px;
}
